.header-img {
  width: 100%;
}

.header-img img {
  width: 100%;
  height: 390px;
  object-fit: cover;
}

.post-content {
  width: 100%;
  text-align: justify;
  padding: 1rem;
}

.post-content img {
  max-width: 23%;
  height: auto;
  float: left;
  margin: 1rem 3rem 1rem 0;
}

.post-content p {
  max-width: none;
  width: 100%;
}