body {
  height: 100vh;  /* ustawia wysokość elementu <body> na 100% wysokości okna przeglądarki (viewport height) */
  padding: 0;  /* Usuwa wszelkie wewnętrzne odstępy (padding) w elemencie <body> */
  margin: 0;       /* usuwa domyślne marginesy wokół elementu <body> */
  background: linear-gradient(180deg, #ffffff, #ffc6f8); /* Ustawia tło w postaci gradientu liniowego z białego (#ffffff) do różowego (#ffc6f8), w kierunku pionowym (180 stopni) */
}

.menu {              /*odnosi sie do elementow z klasa menu*/
  list-style: none;  /*usuwa kropki z listy (ul domyślnie je ma)*/
  margin: 0;       /*usuwa zewnetrzne marginesy*/
  padding: 0;       /*usuwa wewnetrzne wciecia*/
  display: flex;    /*dzieki temu elementy listy ustawiaja sie w jednym rzedzie*/
  justify-content: center; /*wyrownuje elementy na srodku poziomo*/
  background-color: #ff00e1;
  font-family: Verdana, Geneva, Tahoma, sans-serif; /*czcionka menu*/
}

.menu li { /*odnosi sie do kazdego elementu listy w menu*/
  margin: 0; /*usuwa ewentualne domyslne odstepy miedzy elementami listy*/
}

.menu li a { /*styl dla linkow (a) wewnatrz elementow listy*/
  display: block; /*link zachowuje sie jako prostokatny przycisk a nie tylko tekst*/
  padding: 1rem 1.4rem; /*dodaje wewnetrzne odstepy*/
  color: white; /*kolor tekstu*/
  text-decoration: none; /*usuwa podkreślenie z linków*/
  transition: background-color 0.3s; /*dodaje płynne przejście koloru tła przy najechaniu kursorem*/
}

.menu li a:hover { /*pseudoklasa uruchamiająca styl, gdy użytkownik najeżdża kursorem na element*/
  background-color: #f24ed9; /*zmiana koloru, efekt podswietlenia*/
}

main{ /*styl dla głównego obszaru strony*/
    padding: 2rem; /*dodaje odstęp wokół treści*/
    font-family: Verdana, Geneva, Tahoma, sans-serif; /*czcionka*/
    text-align: center; /*wyśrodkowuje tekst w głównym obszarze*/
}

h1 {
  font-family: "Imperial Script", cursive; /* Ustawia krój pisma dla nagłówka h1 na "Imperial Script" */
  font-weight: 400; /* ustawia grubość czcionki na 400 (czyli standardową, „normalną” grubość) */
  font-style: normal; /* ustawia styl czcionki na normalny (nie kursywa, nie pochylony) */
  font-size: 3rem; /* Ustawia rozmiar tekstu na 3 jednostki rem (czyli trzykrotność rozmiaru bazowego czcionki w dokumencie) */
}
